{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registros de Estudiantes</title>
    <link rel="stylesheet" href="{% static 'registros.css' %}">
</head>
<body>
    <h1>Registros de Estudiantes</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Documento</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Correo</th>
            <th>Teléfono</th>
            <th>Dirección</th>
        </tr>
        
        {% for usuario in registros_html %}
        <tr>
            <td>{{ usuario.id_usuario }}</td>
            <td>{{ usuario.documento }}</td>
            <td>{{ usuario.nombre }}</td>
            <td>{{ usuario.apellido }}</td>
            <td>{{ usuario.correo_personal }}</td>
            <td>{{ usuario.telefono }}</td>
            <td>{{ usuario.direccion }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="7" style="text-align: center;">No hay estudiantes registrados.</td>
        </tr>
        {% endfor %}

    </table>
    <a href="{% url 'inicio' %}">Volver al inicio</a>
</body>
</html>